*{
    box-sizing
}
body{
    font-family:Arial, sans-serif;
    margin:0;
    background-color:#6b705c;
    color:#3e2f24;
    line-height:1.6;
}
Header{
    background-color: #5a4636;
    padding:1rem;
}
nav{
    color:#f5f1e8;
    text-decoration:none;
}
.projekt-card{
    background-color: #f5f1e8;
    padding:1.5rem;
    border-radius: 10px;
}
