*{
    box-sizing: border-box;
}
body{
    font-family:Georgia,serif;
    margin:0;
    background-color:burlywood
    color: #3e2f24;
    
}
h1{
    font-family:Georgia, serif;
    font-size:40px;
    font-style:italic

}
h2{
    font-family: Georgia, serif;
    font-size:28px;
}
header{
    background-color:  #654321;;
    padding:15px;
}
nav {
   
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.projekt-card{
    background-color:beige;
    padding:20px;
    
}
button{
    background-color:#654321;
    color:white;
    padding: 10px;

 }

 nav a{
    font-size:18px;
    color:white;
    text-decoration:none;
    font-style:italic;

 }
nav a:hover{ 

    text-decoration: underline;
}
main{
    width: 90%;
    max-width: 1000px;
    margin:30px auto;
}
 .intro{
    display: flex;
    gap: 20px;
    flex-direction: column;
 }
 .intro img{
    width:300px;
    max-width: 100%;
 }
 .project-list{
    display: grid;
    grid-template-columns: 1fr;
    gap:20px;

 }
 @media (min-width:700px) {
nav{
    flex-direction: row;
    justify-content: center;
}
 }
 .ptoject-list{
    grid-template-columns: 1fr 1fr;
 }
@media(min-width:1000px) {
    .project-list{
        grid-template-columns: 1fr 1fr 1fr;
    }
}